body{
    margin: 5px;
    background-color: rgb(245, 234, 234);
    color: rgba(242, 247, 247, 0.142);
}
.contened{
    display: grid;
    grid-template-columns: repeat(3,3fr);
    grid-gap: 1em;
    grid-template-rows: minmax(20px auto);
    padding: 20px;
    
}
.contened div{
    background-color: rgb(203, 242, 243);
    color: rgb(5, 5, 5);
    padding: 25px;
    
  border: 5px solid rgb(161, 242, 238);
}
