body{
    margin: 5px;
    background-color: black;
    color: azure;
}
.contenedor{
    display: grid;
    grid-template-columns: repeat(4,3fr);
    grid-gap: 1em;
    grid-template-rows: minmax(20px auto);
    padding: 20px;
}
.contenedor div{
    background-color: brown;
    color: rgb(234, 197, 32);
    padding: 2em;
}